<h1>Register</h1>

{{#errors}}
    <ul>
        {{#errors}}
        <li>{{.}}</li>
        {{/errors}}
    </ul>
{{/errors}}

<form action="/register" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required><br><br>
    
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required><br><br>

    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" id="first_name"><br><br>

    <label for="last_name">Last Name:</label>
    <input type="text" name="last_name" id="last_name"><br><br>

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required><br><br>

    <label for="password_confirm">Confirm Password:</label>
    <input type="password" name="password_confirm" id="password_confirm" required><br><br>

    <input type="submit" value="Register">
</form>
